@use '@globals' as g;

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;

  @include g.lg {
    justify-content: start;
  }
}

.sorting {
  display: flex;
  margin-bottom: 1rem;
}

.sort-button {
  margin-right: 0.5rem;
}
