@use '@globals' as g;

.confirm {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 345px;
  max-width: 640px;
  padding: 1.5rem;
  border-radius: g.$roundness;
  background: g.$color-white;
  text-align: center;
  transform: translate(-50%, -50%);
}

.address {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.promt {
  margin-bottom: 1rem;
  font-size: 0.75rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  button {
    flex-basis: calc(50% - 1rem);
  }
}
