@use '@globals' as g;

.card {
  overflow: hidden;
  width: 100%;
  max-width: 280px;

  // border: 1px solid rgb(34 60 80 / 20%);
  border-radius: g.$roundness;
  color: g.$color-black;
  transition: g.$transition;

  &:hover {
    box-shadow: 0 2px 4px 0 rgb(34 60 80 / 20%);
  }
}

.image {
  position: relative;
  overflow: hidden;
  height: 256px;

  img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    width: auto;
    height: 100%;
    background: g.$color-grey;
    object-fit: cover;
    transform: translateX(-50%);
  }
}

.info {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  gap: 8px;
}

.title {
  min-height: 2.75em;
  font-size: 1.25rem;
  font-weight: bold;
}

.category {
  font-size: 0.75rem;
}

.one-day-shipping {
  min-height: 1.375em;
  color: g.$color-green;
  font-size: 0.75rem;
  font-weight: 600;
}
