@use '@globals' as g;

.product-row {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-shadow: 0 2px 4px 0 rgb(34 60 80 / 20%);
  gap: 0.875rem;
  @include g.md {
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
  }
}

.title {
  font-weight: 600;
  @include g.md {
    font-size: 1.5rem;
  }
}

.title,
.category {
  color: g.$color-black;
  text-decoration: none;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 240px;
  height: 240px;
  flex-shrink: 0;
  border-radius: g.$roundness;
  @include g.md {
    width: 240px;
    height: 240px;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
}

.info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  @include g.md {
    align-items: flex-start;
  }
}

.category {
  font-size: 0.875rem;
}

.add-to-cart {
  max-width: 120px;
}
